* { box-sizing: border-box;}

/* .grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 10px;

}
*/
.container div {
    border: 1px solid rgb(0, 95, 107);
    border-radius: 3px;
    background-color: rgba(0,95,107,0,8);
    padding: 0.2em;
    color: #000;
    font-size: 14px;
} 

.container {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 100px repeat(5, 1fr) 100px;
    grid-gap: 20px;
    justify-items: center;
    /* grid-auto-flow: column; */
}

form {
    display: grid;
    /* grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    justify-self: center;
    justify-items: center; */
    grid-template-areas: "login"
                         "password";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    margin: 0.5rem;
    row-gap: 0.5rem;
}
.menu {
    display: grid;
    grid-template-columns: 1fr;
}

.login {
    grid-area: login;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
    justify-self: center;
}
.password {
    grid-area: password;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
    justify-self: center;
}